
<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-form {padding: 2px 16px;}

.modal-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.container {
  position: relative;
  contain:size;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  z-index: 0
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

img {
  position: absolute;
  left: 0;
  max-width: 500px;
}

.title {
  position: absolute;
  width: 500px;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.container:hover .title {
  top: 90px;
}

.button {
  position: relative;
  width: 500px;
  left:0;
  top: 60%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  text-decoration: none;
}

.remove {
  left: 100%;
  opacity: 0;
  transition: opacity .35s ease;
}

.remove a {
  right: 5px;
  top: 5px;
  color: white;
  position: absolute;
  text-align: right;
  border: solid 2px white;
  font-family: "Trebuchet MS";
  padding: 2px 6px;
  z-index:1;
  text-decoration: none;
}

.button a {
  position:relative;
  width: 200px;
  padding: 12px 48px;
  bottom: -50px;
  text-align: center;
  color: white;
  font-family: "Trebuchet MS";
  border: solid 2px white;
  z-index: 1;
  text-decoration: none;
}

.container:hover .button {
  opacity: 1;
}

.container:hover .remove {
  opacity: 1;
 }
</style>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Add Flyer</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Add Flyer</h2>
    </div>
    <div class="modal-body">
      <p>Some text in the Modal Body</p>
      <p>Some other text...</p>
    </div>
    <form action="/upload" method="post" class="modal-form" enctype='multipart/form-data'>
  	  <input type="file" name="image" accept="image/*">
  	  <br>
  	  <input type="date" name="date">
  	  <br>
  	  <input type="text" name="password" placeholder="Enter a password"> <br>
  	  <input type="submit" class ="modal-button">
    </form>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>

</div>

<h>HELLO</h>
{{#each images}}
 <img src='{{image}}' style="display:none"/> 
<div class="container">
  <img src='{{image}}' style="top:{{y}}; left:{{x}}; width:{{width}}; height:{{height}};"/> 
  <div class="overlay"></div>
  <form id="xbutton-{{@index}}" action="/xbutton" method="post" style="display:none">
  	<input type="text" style="display:none" name="base64" value="{{this}}"></input>
  </form>
  	<div class="remove"><a onclick="document.getElementById('xbutton-{{@index}}').submit();"> X </a></div>
  <div class="button"><a href="#"> MORE INFO </a></div>
</div>
{{/each}}



<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
